In [1]:
import pandas as pd

In [37]:
df = pd.read_csv('/grid/home/nbourgeois/nbourgeois_scripts/snakemake/miseq/tests/ampliseq_run_2201/results/counts/ThompsonD24_2.csv')
manifest_loc = '/grid/home/nbourgeois/wip/ampliseq_compare/amplicon_manifest.txt'

In [22]:
ampliseq_manifest = pd.read_csv(manifest_loc,sep='\t',skiprows=9)
ampliseq_manifest = ampliseq_manifest.set_index('Transcript ID')

In [23]:
ampliseq_manifest

,Target ID,Target Type,Gene,Exon,Chromosome,Position,Alignment,Strand,Full Amplicon Sequence,Target Start,Target Length,Target Number
Transcript ID,,,,,,,,,,,,
NR_024540,T00001,GeneExpression,WASH7P,NaN,chr1,14999,119M757N40M,Minus,CCGGTGGCTGGCCACTCTGCTAGAGTCCATCCGCCAAGCTGGGGGC...,26,109,1
NM_001005484,T00002,GeneExpression,OR4F5,NaN,chr1,69443,151M,Plus,CAATATGCAAGCCCCTACACTACACTACAATTATGTGTGGCAACGC...,26,101,1
NR_039983,T00003,GeneExpression,LOC729737,NaN,chr1,139792,91M227N56M,Minus,AGACTGGTGTGGGAAGGGTCGTTTTGGATGCACTTGAGCAGGGGTC...,26,97,1
NM_001005224,T00004,GeneExpression,OR4F3,NaN,chr1,367667,148M,Plus,AGAGAATCACTCAGTGGTATCTGAGTTTTTGTTTCTGGGACTCACT...,26,98,1
NR_033908,T00005,GeneExpression,LOC100288069,NaN,chr1,708437,99M1063N51M,Minus,TCCCCACCTTCTAAGAGACAAAGACCAACGAGCCACCACAGCCACC...,26,100,1
...,...,...,...,...,...,...,...,...,...,...,...,...
NM_000442,T28684,GeneExpression,PECAM1,NaN,NaN,-1,NaN,Plus,CCAGGCCCCATTGTTCCCGGTTTCCAGCCATGGCTGCCATTACCTG...,24,109,1
NR_003129,T28685,GeneExpression,RNF5P1,NaN,NaN,-1,NaN,Plus,TGTACTGTTGGCCATGTCTTCATCAGTGGCTGGCACGGCCAGAACG...,26,101,1
NR_002917,T28686,GeneExpression,SNORA19,NaN,NaN,-1,NaN,Plus,ATTTCATTGACCTGCTTTCTTTTATGTGAGTAGTGTTATTTCTTAT...,26,75,1
NR_002969,T28687,GeneExpression,SNORA36A,NaN,NaN,-1,NaN,Plus,TTCCAAAGTGTTGAGTTCAGTCCAGGGCAGCTTCCCTGTTCTGTTA...,26,85,1
NR_003705,T28688,GeneExpression,SNORA36C,NaN,NaN,-1,NaN,Plus,CAAAGTGTTGAGTTCAGTCCAGGGCAGCTTCCCTGTTCTGTTAATT...,26,81,1

In [39]:
df.loc[[0,1,2],'test']= 'a'

In [41]:
df.fillna(0)

      Transcript ID    Gene  val test
0         NM_000014     A2M  0.0    a
1         NM_000015    NAT2  0.0    a
2         NM_000017   ACADS  0.0    a
3         NM_000018  ACADVL  0.0    0
4         NM_000019   ACAT1  0.0    0
...             ...     ...  ...  ...
23803     NR_073547      []  0.0    0
23804     NR_073593      []  0.0    0
23805     NR_074080      []  0.0    0
23806     NR_077058      []  0.0    0
23807     NR_077225      []  0.0    0

[23808 rows x 4 columns]

In [12]:
df[['Gene','Transcript ID']]. drop_duplicates

<bound method DataFrame.drop_duplicates of                Gene Transcript ID
0            WASH7P     NR_024540
1             OR4F5  NM_001005484
2         LOC729737     NR_039983
3             OR4F3  NM_001005224
4      LOC100288069     NR_033908
...             ...           ...
28683        PECAM1     NM_000442
28684        RNF5P1     NR_003129
28685       SNORA19     NR_002917
28686      SNORA36A     NR_002969
28687      SNORA36C     NR_003705

[28688 rows x 2 columns]>